{% extends 'layout.njk' %}
{% import "parts/section-products.njk" as section %}

{% block style %}
   <link rel="stylesheet" href="/styles/home.css">
{% endblock style%}



{% block content %}

   {{section.products('Últimos Produtos', 'container', products)}}
{% endblock content%}
